@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6B7280;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
  background: #3730A3;
  border-radius: 6px;
  padding: 0.75rem 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_border {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  color: #3730A3;
  border: 1px solid #3730A3;
  border-radius: 6px;
  padding: 0.75rem 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #1F2937;
}

.title span {
  color: #3730A3;
}

.header {
  padding-top: 90px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #7B61FF;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 90%;
  background: #EEEBFF;
  padding: 13px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  color: #6B7280;
  padding-right: 5rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main-block {
  padding-top: 190px;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-right: 106px;
}

.main-block__person {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #3730A3;
}

.main-block__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #1F2937;
}

.main-block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #6B7280;
  max-width: 553px;
}

.main-block__button:not(:last-child) {
  margin-right: 20px;
}

.main-block__status {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #6B7280;
}

.main-block__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works {
  padding-top: 198px;
}

.works__content {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__img {
  margin-right: 50px;
}

.works__body {
  margin-top: 50px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.works__column {
  margin-bottom: 68px;
}

.item-works {
  max-width: 311px;
}

.item-works__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #1F2937;
  margin-bottom: 20px;
}

.item-works__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #6B7280;
  margin-bottom: 20px;
}

.item-works__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-works__links-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #3730A3;
  margin-right: 5px;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #EEF2FF;
    color: #3730A3;
  }

  .button_border:hover {
    background-color: #3730A3;
    color: #fff;
  }

  .header__logo:hover {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .menu__link:hover {
    padding: 2px;
    background-color: #3730A3;
    color: #fff;
  }

  .item-works__links:hover {
    -webkit-transform: scale(105%);
        -ms-transform: scale(105%);
            transform: scale(105%);
  }
}